.bar{
    width: 50%;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
}

.progress{
    height: 100%;
    border-radius: 10px;
    background-color: #00a9e0;

}
.logo{
background-image: url(../../assets/images/robbyicon.png);
background-size: cover;
width: 30px;
height: 30px;
margin: 8px;
}
.scoreContainer{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
}