.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
}
body{
    background-color: #202020;
}
.title{
    color:rgb(255, 255, 175);
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 50%;
}
h1{
    font-size: 5em;
}
.buttons{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.buttons button{
    width: 70vh;
    height: 7vh;
    border-radius: 8px;
    
}