
.gameOverContainer {
  font-family: courier;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:  url("/src/assets/images/gameovergif");
  background-size: 100%;
  overflow: hidden;
  height: 100vh;
  color:aliceblue;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameOverFrame{
  background-color: rgba(0, 0, 0, 0.95);
  width: 55%;
  height: 35%;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}