.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.frameContainer{
height: 100vh;
}

@media (max-width: 900px) {
    .calendar {
      display: none;
    }
    .row{
        display: block;
    }
  }